{% extends 'base.html.twig' %}

{% block title %}Panier - {{ parent() }}{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Panier</h1>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Produit</th>
                                <th scope="col">Disponibilité</th>
                                <th scope="col" class="text-center">Quantité</th>
                                <th scope="col" class="text-right">Prix</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for productInfo in cart %}
                            <tr>
                                <td><img style="max-width: 80px;" src="{{ productInfo.product.image }}" /> </td>
                                <td>{{ productInfo.product.name }}</td>
                                <td>En stock</td>
                                <td><input class="form-control" type="number" value="{{ productInfo.quantity }}"/></td>
                                <td class="text-right">
                                    {% if productInfo.product.promotion %}
                                        {{ (productInfo.product.price*(1-productInfo.product.promotion/100)/100*productInfo.quantity) | number_format(2, '.', ' ') }} &euro;
                                    {% else %}
                                        {{ (productInfo.product.price/100*productInfo.quantity) | number_format(2, '.', ' ') }} &euro;
                                    {% endif %}
                                </td>
                                <td class="text-right"><a href="{{ path('cart_delete', {'id': loop.index - 1}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a> </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Sous-Total</td>
                                <td class="text-right">{{ (subtotal/100) | number_format(2, '.') }} €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Frais de port</td>
                                <td class="text-right">
                                    {% if transportCost == 0 %}
                                        Offert !
                                    {% else %}
                                        {{ (transportCost/100) | number_format(2, '.') }} €
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>{{ (total/100) | number_format(2, '.') }} €</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <a href="{{app.request.headers.get('referer')}}" class="btn w-100 btn-light">Continuer vos achats</a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg w-100 btn-success text-uppercase">Commander</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
