{% extends 'base.html.twig' %}

{% block title %}Produits - {{ parent() }}{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Produits</h1>
            <p class="lead text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, veniam, eius aliquam quidem rem sunt nam quaerat facilis ex error placeat ipsa illo sed inventore soluta ipsum cumque atque ea?</p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Produits</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Filtres</div>
                    <form action="" method="post">
                        <ul class="list-group">
                            {% for color in colors %}
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input type="checkbox" name="color[]" value="{{ color.id }}"class="form-check-input" style="border-color: {{ color.hex }};" id="color-{{ color.name }}">
                                        <label class="form-check-label" for="color-bleu">{{ color.name }}</label>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="list-group-item">
                                <button class="btn btn-primary w-100">Filtrer</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Catégories</div>
                    <ul class="list-group category_block">
                        {% for category in categories %}
                            <li class="list-group-item"><a href="{{ path('category_index') }}">{{ category.name | capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bg-success text-white text-uppercase">Dernier produit</div>
                    <div class="card-body">
                        <img class="img-fluid" src="{{ latestProduct.image }}" />
                        <h5 class="card-title mt-3">{{ latestProduct.name }}</h5>
                        <p class="card-text">{{ latestProduct.description }}</p>

                        <div class="row">
                            <div class="col">
                                <p class="btn btn-danger w-100">
                                    {% if latestProduct.promotion %}
                                        {{ (latestProduct.price*(1-latestProduct.promotion/100)/100) | number_format(2, '.', ' ') }} &euro;
                                    {% else %}
                                        {{ (latestProduct.price/100) | number_format(2, '.', ' ') }} &euro;
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col">
                                <a href="{{ path('products_show', {'slug': latestProduct.slug }) }}" class="btn btn-success w-100">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="product.html" title="View Product">{{ product.name }}</a></h4>
                                    <p class="card-text">{{ product.description }}</p>
                                    <div class="row">
                                        <div class="col">
                                            <p class="btn btn-danger w-100">
                                                {% if product.promotion %}
                                                    {{ (product.price*(1-product.promotion/100)/100) | number_format(2, '.', ' ') }} &euro;
                                                {% else %}
                                                    {{ (product.price/100) | number_format(2, '.', ' ') }} &euro;
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col">
                                            <a href="{{ path('cart_index') }}" class="btn btn-success w-100">Ajouter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item {{ page<=1 ? 'disabled' : '' }}">
                                    <a class="page-link" href="{{ path('products_index', {'page': page-1}) }}" tabindex="-1">Précédent</a>
                                </li>
                                {% if page >= 2 %}
                                    <li class="page-item"><a class="page-link" href="{{ path('products_index', {'page': page-1}) }}">{{ page-1 }}</a></li>
                                {% endif %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ page }}</a>
                                </li>
                                {% if page <= maxPage-1 %}
                                    <li class="page-item"><a class="page-link" href="{{ path('products_index', {'page': page+1}) }}">{{ page+1 }}</a></li>
                                {% endif %}
                                <li class="page-item {{ page>=maxPage ? 'disabled' : '' }}">
                                    <a class="page-link" href="{{ path('products_index', {'page': page+1}) }}">Suivant</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
